[Unit]
Description=CoreDNS DNS server
Documentation=https://coredns.io
After=network.target

[Service]
Restart=always
LimitNOFILE=1048576
LimitNPROC=4096
AmbientCapabilities=CAP_NET_BIND_SERVICE
User=root
WorkingDirectory=/root
ExecStart=/bin/bash -c "/root/coredns -conf=/root/Corefile"
ExecReload=/bin/kill -SIGUSR1 $MAINPID
Restart=on-failure

[Install]
WantedBy=multi-user.target